<h1>Write a new post:</h1>

<%= form_for @post, url: {action: "create"} do |f| %>
  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %>
  <%= label_tag(:body, "Body:") %>
  <%= f.text_area :body %>
  <%= f.submit "Create" %>
<% end %>
